#logout_button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
}

input[type="submit"]{
  color: #fff;
  border: none;
  padding:5px;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 40%;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
input[type="submit"]:active{
    opacity: 0.5;
}
button{
    padding: 10px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    margin-left: 8%;
    margin-top:4% ;
    font-size: 13px;
    font-weight: 200;
}
button:active{
    opacity: 0.5;
}

h2{
    text-align: center;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    color: #fff;
    border-radius: 10px;
    margin-top: 4%;
}
